<h1>List Companies</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Cost</th>
    </tr>
    <% @companies.each do |company| %>
        <tr>
            <td><%= link_to company.name, company_path(company) %></td>
            <td><%= company.user.full_name %></td>
            <td><%= company.cost %></td>
        </tr>
    <% end %>
</table>