<h1>List Companies</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Cost</th>
    </tr>
    <% @companies.each do |company| %>
        <tr>
            <td><%= company.name %></td>
            <td><%= "#{company.user.first_name} #{company.user.last_name}" %></td>
            <td><%= company.cost %></td>
        </tr>
    <% end %>
</table>